Testing string interpolation.
My name is {{name}}
<button (click)="buttonClick()">
    press
</button>
<p [innerText]="title"></p>
<input (input)="onTextChange($event)">
<input type="text" [(ngModel)]="changingText">
{{eventTest}}
{{match}}
<input type="text" [(ngModel)]="username">
{{username}}
<button [disabled]="username === ''" (click)="resetName()">Reset</button>
<br>
<button (click)="look()">Look!</button>
<p *ngIf="canBeSeen; else cannotBeSeen">You can see me!</p>
<ng-template #cannotBeSeen>
    <p>Where did they go?</p>
</ng-template>
<br>
<p [ngClass]="{fearful: canBeSeen === true, calm: canBeSeen === false}" [ngStyle]="{color: getColor()}">ENEMY FEAR RATE</p>